@import "../../variables-color/styles.scss";
.Parceria {
  height: 100vh;
  background: $corBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 35vw;
  }
}
.about {
  width: 35.5rem;
  height: 15.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 700;
  }
  h1 {
    font-size: 2.8rem;
    color: $corDoTexto;
    font-weight: 900;
  }
  .buttonConsulta {
    height: 5vh;
    width: 15vw;
    background-color: $corFundo;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    &:hover {
      border: solid 2px white;
    }

    a {
      color: $corDoTexto;
      text-decoration: none;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      .mensagem{
        width: 2vw;
      }
    }
  }
}

@media (min-width: 1080px) {
  .Parceria {
    flex-direction: row;
   
  }
  .about{
    flex-direction: row;
  }
}
